NODE_ENV=development
PORT=10007
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@HOST/test7?retryWrites=true&w=majority
UPSTASH_REDIS_URL=rediss://default:PASSWORD@HOST:6379
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
IMAGE_CLEANUP_QUEUE_PATH=/var/lib/shop7/image-cleanup-queue.json
